<table cellpadding="0" cellspacing="0">
<tr><th>Value</th><th>Count</th></tr>
<% @results.each do |key, value| -%>
<tr><td><%= key.dup %></td><td><%= value %></td></tr>
<% end -%>
<tr><td align="center" colspan="2">
<img src="<%= @chart_url %>" alt="Data" />
</td></tr>
</table>

<br /><br />
<%= link_to 'View All Poll Results Here', admin_poll_results_path %>
